{
  "Entries": [
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Brazil South\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourceGroups/onesdk5297\",\r\n  \"name\": \"onesdk5297\",\r\n  \"location\": \"brazilsouth\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996?api-version=2015-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"onesdk1996\",\r\n  \"location\": \"Brazil South\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk1996\",\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996\",\r\n  \"type\": \"Microsoft.DataFactory/datafactories\",\r\n  \"location\": \"Brazil South\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"dataFactoryId\": \"30994a22-8dd0-4545-8110-2f6f7ffd7299\",\r\n    \"provisioningState\": \"PendingCreation\",\r\n    \"error\": null,\r\n    \"errorMessage\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996?api-version=2015-10-01"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996?api-version=2015-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-10-01"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk1996\",\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996\",\r\n  \"type\": \"Microsoft.DataFactory/datafactories\",\r\n  \"location\": \"Brazil South\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"dataFactoryId\": \"30994a22-8dd0-4545-8110-2f6f7ffd7299\",\r\n    \"provisioningState\": \"PendingCreation\",\r\n    \"error\": null,\r\n    \"errorMessage\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14893"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo?api-version=2015-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"message\": \"Gateway '' does not exist.\",\r\n  \"code\": \"GatewayNotFound\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14869"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo?api-version=2015-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"foo\",\r\n  \"properties\": {\r\n    \"dataFactoryName\": \"onesdk1996\",\r\n    \"status\": \"NeedRegistration\",\r\n    \"versionStatus\": \"None\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"createTime\": \"2017-06-06T06:30:35.8817448Z\",\r\n    \"multiNodeSupportEnabled\": false,\r\n    \"nodes\": [],\r\n    \"isCredentailSyncFailed\": false\r\n  },\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14868"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo?api-version=2015-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"foo\",\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"foo\",\r\n  \"properties\": {\r\n    \"key\": \"DMG@d807a353-5013-49c6-927e-b269fb084822@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@gwqRv1z6owcaRqqIfJppeH81MRTxdVxhgeq/POcsvmc=\",\r\n    \"authenticationKey1\": \"DMG@d807a353-5013-49c6-927e-b269fb084822@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@gwqRv1z6owcaRqqIfJppeH81MRTxdVxhgeq/POcsvmc=\",\r\n    \"authenticationKey2\": \"DMG@d807a353-5013-49c6-927e-b269fb084822@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@4FHVbAA7SzCFzv5z7rtGyofLDD3Dq88PkH6aJbizRV8=\",\r\n    \"dataFactoryName\": \"onesdk1996\",\r\n    \"status\": \"NeedRegistration\",\r\n    \"versionStatus\": \"None\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"createTime\": \"2017-06-06T06:30:35.8817448Z\",\r\n    \"multiNodeSupportEnabled\": false,\r\n    \"nodes\": [],\r\n    \"isCredentailSyncFailed\": false\r\n  },\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo/listauthkeys?api-version=2015-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"DMG@d807a353-5013-49c6-927e-b269fb084822@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@gwqRv1z6owcaRqqIfJppeH81MRTxdVxhgeq/POcsvmc=\",\r\n  \"key2\": \"DMG@d807a353-5013-49c6-927e-b269fb084822@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@4FHVbAA7SzCFzv5z7rtGyofLDD3Dq88PkH6aJbizRV8=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo/regenerateauthkey?api-version=2015-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyname\": \"key2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"key2\": \"DMG@d807a353-5013-49c6-927e-b269fb084822@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@sTTSqPMNC4ZSRmiGiHMOWOySDJo9fKZf009iyS5jy7U=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo?api-version=2015-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo/operationresults/Dd807a353-5013-49c6-927e-b269fb084822?api-version=2015-10-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo/operationresults/Dd807a353-5013-49c6-927e-b269fb084822?api-version=2015-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14867"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996/gateways/foo/operationresults/Dd807a353-5013-49c6-927e-b269fb084822?api-version=2015-10-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk5297/providers/Microsoft.DataFactory/datafactories/onesdk1996?api-version=2015-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-DataFactoryGatewayAuthKeys": [
      "onesdk1996",
      "onesdk5297"
    ]
  },
  "Variables": {
    "SubscriptionId": "41fcbc45-c594-4152-a8f1-fcbcd6452aea"
  }
}