{
  "Entries": [
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Brazil South\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourceGroups/onesdk7507\",\r\n  \"name\": \"onesdk7507\",\r\n  \"location\": \"brazilsouth\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169?api-version=2015-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"onesdk1169\",\r\n  \"location\": \"Brazil South\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk1169\",\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169\",\r\n  \"type\": \"Microsoft.DataFactory/datafactories\",\r\n  \"location\": \"Brazil South\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"dataFactoryId\": \"56998f5c-0e7a-4245-b1d3-1838dc376f4b\",\r\n    \"provisioningState\": \"PendingCreation\",\r\n    \"error\": null,\r\n    \"errorMessage\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169?api-version=2015-10-01"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169?api-version=2015-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-10-01"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk1169\",\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169\",\r\n  \"type\": \"Microsoft.DataFactory/datafactories\",\r\n  \"location\": \"Brazil South\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"dataFactoryId\": \"56998f5c-0e7a-4245-b1d3-1838dc376f4b\",\r\n    \"provisioningState\": \"PendingCreation\",\r\n    \"error\": null,\r\n    \"errorMessage\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14920"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo?api-version=2015-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"message\": \"Gateway '' does not exist.\",\r\n  \"code\": \"GatewayNotFound\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14858"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo?api-version=2015-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"foo\",\r\n  \"properties\": {\r\n    \"dataFactoryName\": \"onesdk1169\",\r\n    \"status\": \"NeedRegistration\",\r\n    \"versionStatus\": \"None\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"createTime\": \"2017-06-06T07:40:12.3782883Z\",\r\n    \"multiNodeSupportEnabled\": false,\r\n    \"nodes\": [],\r\n    \"isCredentailSyncFailed\": false\r\n  },\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14857"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo?api-version=2015-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"foo\",\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"foo\",\r\n  \"properties\": {\r\n    \"key\": \"DMG@1263bfdb-243f-4909-afb3-75e6124911ed@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@GbR8DZEnRw1NVFZJVEeUhn9doEiORZfcCtsr1Mjwlhk=\",\r\n    \"authenticationKey1\": \"DMG@1263bfdb-243f-4909-afb3-75e6124911ed@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@GbR8DZEnRw1NVFZJVEeUhn9doEiORZfcCtsr1Mjwlhk=\",\r\n    \"authenticationKey2\": \"DMG@1263bfdb-243f-4909-afb3-75e6124911ed@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@U6kqUL1Bp6dNlbZ7AKfBr/6JdNdt4e0K78EC4kZ9AI8=\",\r\n    \"dataFactoryName\": \"onesdk1169\",\r\n    \"status\": \"NeedRegistration\",\r\n    \"versionStatus\": \"None\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"createTime\": \"2017-06-06T07:40:12.3782883Z\",\r\n    \"multiNodeSupportEnabled\": false,\r\n    \"nodes\": [],\r\n    \"isCredentailSyncFailed\": false\r\n  },\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo/listauthkeys?api-version=2015-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"DMG@1263bfdb-243f-4909-afb3-75e6124911ed@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@GbR8DZEnRw1NVFZJVEeUhn9doEiORZfcCtsr1Mjwlhk=\",\r\n  \"key2\": \"DMG@1263bfdb-243f-4909-afb3-75e6124911ed@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@U6kqUL1Bp6dNlbZ7AKfBr/6JdNdt4e0K78EC4kZ9AI8=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo/regenerateauthkey?api-version=2015-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyname\": \"key2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"key2\": \"DMG@1263bfdb-243f-4909-afb3-75e6124911ed@41fcbc45-c594-4152-a8f1-fcbcd6452aea@wu@AQjAxtgmwc46Vl3Wrwa4SCfuP0pd8eluN8z+4dbYO+U=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo?api-version=2015-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo/operationresults/D1263bfdb-243f-4909-afb3-75e6124911ed?api-version=2015-10-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo/operationresults/D1263bfdb-243f-4909-afb3-75e6124911ed?api-version=2015-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14856"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169/gateways/foo/operationresults/D1263bfdb-243f-4909-afb3-75e6124911ed?api-version=2015-10-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/onesdk7507/providers/Microsoft.DataFactory/datafactories/onesdk1169?api-version=2015-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-DataFactoryGatewayAuthKeys": [
      "onesdk1169",
      "onesdk7507"
    ]
  },
  "Variables": {
    "SubscriptionId": "41fcbc45-c594-4152-a8f1-fcbcd6452aea"
  }
}