{
  "Entries": [
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/PSTestRG/providers/Microsoft.DataFactory/datafactories/PSTestDF/gateways/PSTestGW?api-version=2015-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestGW\",\r\n  \"properties\": {\r\n    \"description\": \"\",\r\n    \"hostServiceUri\": \"https://testuser03.somefakecorp.com:8050/HostServiceRemote.svc/\",\r\n    \"dataFactoryName\": \"pstestdf\",\r\n    \"status\": \"Limited\",\r\n    \"capabilities\": {\r\n      \"serviceBusConnected\": \"True\",\r\n      \"httpsPortEnabled\": \"True\",\r\n      \"credentialInSync\": \"False\",\r\n      \"connectedToResourceManager\": \"True\",\r\n      \"nodeEnabled\": \"True\"\r\n    },\r\n    \"versionStatus\": \"UpToDate\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"version\": \"2.12.6414.2\",\r\n    \"createTime\": \"2017-08-21T02:32:20.2392703Z\",\r\n    \"registerTime\": \"2017-08-21T03:09:37.1945699Z\",\r\n    \"lastConnectTime\": \"2017-08-21T04:54:25.1009845Z\",\r\n    \"lastUpgradeResult\": \"\",\r\n    \"multiNodeSupportEnabled\": true,\r\n    \"nodes\": [\r\n      {\r\n        \"nodeName\": \"Node1\",\r\n        \"machineName\": \"testuser03\",\r\n        \"isActiveDispatcher\": true,\r\n        \"hostServiceUri\": \"https://testuser03.somefakecorp.com:8050/HostServiceRemote.svc/\",\r\n        \"status\": \"Online\",\r\n        \"capabilities\": {\r\n          \"serviceBusConnected\": \"True\",\r\n          \"httpsPortEnabled\": \"True\",\r\n          \"credentialInSync\": \"False\",\r\n          \"connectedToResourceManager\": \"True\",\r\n          \"nodeEnabled\": \"True\"\r\n        },\r\n        \"versionStatus\": \"UpToDate\",\r\n        \"version\": \"2.12.6414.2\",\r\n        \"createTime\": \"2017-08-21T03:09:37.1945699Z\",\r\n        \"registerTime\": \"2017-08-21T03:09:37.1945699Z\",\r\n        \"lastConnectTime\": \"2017-08-21T04:54:25.1009845Z\",\r\n        \"lastUpgradeResult\": \"None\",\r\n        \"maxConcurrentJobs\": \"48\",\r\n        \"availableMemory\": \"25901MB\",\r\n        \"cpuUtilization\": \"0%\",\r\n        \"network\": \"0KBps/0KBps\",\r\n        \"limitConcurrentJobs\": \"8\",\r\n        \"runningConcurrentJobs\": \"0\"\r\n      },\r\n      {\r\n        \"nodeName\": \"Node2\",\r\n        \"machineName\": \"testuser02\",\r\n        \"isActiveDispatcher\": false,\r\n        \"hostServiceUri\": \"https://testuser02.somefakecorp.com:8050/HostServiceRemote.svc/\",\r\n        \"status\": \"Online\",\r\n        \"capabilities\": {\r\n          \"serviceBusConnected\": \"True\",\r\n          \"httpsPortEnabled\": \"True\",\r\n          \"credentialInSync\": \"False\",\r\n          \"connectedToResourceManager\": \"True\",\r\n          \"nodeEnabled\": \"True\"\r\n        },\r\n        \"versionStatus\": \"UpToDate\",\r\n        \"version\": \"2.12.6414.2\",\r\n        \"createTime\": \"2017-08-21T03:19:06.0442703Z\",\r\n        \"registerTime\": \"2017-08-21T03:19:06.0442703Z\",\r\n        \"lastConnectTime\": \"2017-08-21T04:54:03.6675502Z\",\r\n        \"lastUpgradeResult\": \"None\",\r\n        \"maxConcurrentJobs\": \"30\",\r\n        \"availableMemory\": \"8170MB\",\r\n        \"cpuUtilization\": \"14%\",\r\n        \"network\": \"2KBps/1KBps\",\r\n        \"limitConcurrentJobs\": \"15\",\r\n        \"runningConcurrentJobs\": \"0\"\r\n      }\r\n    ],\r\n    \"isCredentialSyncFailed\": true,\r\n    \"nodeCommunicationChannelEncryptionMode\": \"NonEncryption\",\r\n    \"isOnPremCredentialEnabled\": true,\r\n    \"serviceUrls\": [\r\n      \"wu.frontend.int.clouddatahub-int.net\",\r\n      \"*.servicebus.windows.net\"\r\n    ],\r\n    \"scheduledUpgradeTime\": \"09:08:07\"\r\n  },\r\n  \"id\": \"/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/PSTestRG/providers/Microsoft.DataFactory/datafactories/PSTestDF/gateways/PSTestGW\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/PSTestRG/providers/Microsoft.DataFactory/datafactories/PSTestDF/gateways/PSTestGW/updatenode?api-version=2015-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodeName\": \"Node1\",\r\n  \"limitConcurrentJobs\": 9\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/PSTestRG/providers/Microsoft.DataFactory/datafactories/PSTestDF/gateways/PSTestGW/synccredential?api-version=2015-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/41fcbc45-c594-4152-a8f1-fcbcd6452aea/resourcegroups/PSTestRG/providers/Microsoft.DataFactory/datafactories/PSTestDF/gateways/PSTestGW/removenode?api-version=2015-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodeName\": \"Node1\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "41fcbc45-c594-4152-a8f1-fcbcd6452aea"
  }
}